@import "./variables";

body {
  background-color: $background-color;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
