/* 
Font sizes
*/

$font-size-4: 100px;
$font-size-3: 56px;
$font-size-2: 40px;
$font-size-1: 27px;

/* 
Colors
*/
$background-color: #f2f2f2;
$main-color: #303030;
$break-color: #8d8d8d;
$low-timer-color: #ff3121;
